<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index" class="brand-link">
    <img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">PFNA</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="dashboard" class="nav-link {{ 'active' if active_page =='dashboard' else ''}}">
                <i class="nav-icon fas fa-regular fa-tv"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="inventory" class="nav-link {{ 'active' if active_page =='inventory' else ''}}">
                <i class="nav-icon fas fa-regular fa-database"></i>
                <p>Inventory</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="config-management" class="nav-link {{ 'active' if active_page =='config-management' else ''}}">
                <i class="nav-icon fas fa-tasks"></i>
                <p>Config Management</p>
              </a>
            </li>
          </ul>
        </li>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
